<div class="centeredHomePage">
<% @weeks.each do |week|  %>
  <% if week.week_number == 0 %>
    <%= link_to "Pre-Season Rankings", week_path(week.week_number) %><br>
  <% else %>
    <%= link_to "Week " + week.week_number.to_s + " Rankings", week_path(week.week_number) %><br>
  <% end %>
<% end %>
</div>